<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>NodeJS Chat</title>
</head>
<body>

<div id="app">

    <div class="chat">

        <div class="chat-users collection">

            <a
                    class="collection-item"
                    v-for="(u, index) in users"
                    :key="index"
                    :class="{active: u.id === user.id}"
            >

                 {{u.name}}

            </a>

        </div>

        <div
                class="chat-messages"
                ref="messages"
        >

            <chat-message
                    v-for="(message, index) in messages"
                    :key="index"
                    :message="message"
                    :user="user"
            >
            </chat-message>

<!--            <div-->
<!--                    class="message"-->
<!--                    :class="{owner: message === 3}"-->
<!--                    v-for="message in 10"-->
<!--                    :key="message"-->
<!--            >-->
<!--                <div-->
<!--                        class="message-content z-depth-1"-->
<!--                >-->
<!--                    Message: {{message}}-->
<!--                </div>-->
<!--            </div>-->
        </div>



    </div>

    <div class="actions">
        <div class="input-field">

            <input
                    type="text"
                    placeholder="Type your message ..."
                    v-model.trim="message"
                    autofocus
                    autocomplete="false"
                    @keydown.enter="sendMessage()"
            >

        </div>
        <button
                class="btn"
                @click="sendMessage()"
                :disabled="message.length < 0"
        >
            Send
        </button>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="app.js"></script>
<script>
    // const socket = io()
    //
    // document.querySelector('button').addEventListener('click', () => {
    //     const value = document.querySelector('input').value
    //
    //     socket.emit('createMessage', {
    //         value
    //     })
    //
    //     document.querySelector('input').value = ''
    // })
    //
    // socket.on('newMessage', message => {
    //     const li = document.createElement('li')
    //     li.innerHTML = `<b>${message.text}</b> <small>${message.date}</small>`
    //     document.querySelector('ul').appendChild(li)
    // })
    //
    // socket.on('connect', () => {
    //     console.log('Client connected')
    // })

</script>
</body>
</html>